app/Config/database.php
/nbproject/private/
.idea/.name

*.xml

*.xml

*.xml

.idea/cake_config_setting_v0_5.xml

*.xml

*.xml

.idea/deployment.xml

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/speedon-prod.iml

.idea/vcs.xml

.idea/workspace.xml

app/tmp/cache/persistent/myapp_cake_core_cake_dev_eng

app/tmp/cache/persistent/myapp_cake_core_cake_dev_fr

app/tmp/cache/persistent/myapp_cake_core_cake_dev_fr-fr

app/tmp/cache/persistent/myapp_cake_core_cake_fr

app/tmp/cache/persistent/myapp_cake_core_cake_fr-fr

app/tmp/cache/persistent/myapp_cake_core_file_map

app/tmp/logs/error.log

app/tmp/cache/persistent/myapp_cake_core_cake_dev_fr-fr

app/tmp/cache/persistent/myapp_cake_core_cake_fr-fr

app/tmp/cache/persistent/myapp_cake_core_file_map

app/tmp/logs/error.log
