app/Config/database.php
/nbproject/private/
.idea/.name

*.xml

*.iml

app/tmp/cache/persistent/myapp_cake_core_cake_dev_eng

app/tmp/cache/persistent/myapp_cake_core_cake_dev_fr

app/tmp/cache/persistent/myapp_cake_core_default_fr-fr

app/tmp/cache/models/myapp_cake_model_default_speedon_associations

app/tmp/cache/models/myapp_cake_model_default_speedon_associations_donneurs

app/tmp/cache/models/myapp_cake_model_default_speedon_donneurs

app/tmp/cache/models/myapp_cake_model_default_speedon_donneurs_recompenses

app/tmp/cache/models/myapp_cake_model_default_speedon_dons

app/tmp/cache/models/myapp_cake_model_default_speedon_list

app/tmp/cache/models/myapp_cake_model_default_speedon_recompenses

app/tmp/cache/models/myapp_cake_model_default_speedon_users

app/tmp/cache/persistent/myapp_cake_core_cake_dev_fr-fr

app/tmp/cache/persistent/myapp_cake_core_cake_fr

app/tmp/cache/persistent/myapp_cake_core_cake_fr-fr

app/tmp/cache/persistent/myapp_cake_core_file_map

app/tmp/cache/persistent/myapp_cake_core_method_cache

*.log
